In [157]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
#1. Load the Amazon Prime dataset into a Pandas DataFrame.
df=pd.read_csv("Downloads/amazon_prime_video_data.csv")

In [6]:
#2. Display the first 10 records of the dataset.
df.head(10)

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
5,5006,Movie,Drama,Hindi,2010,104,6.2,A,Australia,2022-12-27,96.06,51.0,6.42,Basic,No,0.84
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
7,5008,Movie,Sci-Fi,Telugu,2020,65,5.9,A,Canada,2023-02-24,90.44,68.0,8.43,Premium,No,45.42
8,5009,Movie,Comedy,English,2005,65,6.8,U,USA,2023-07-22,105.41,67.0,1.97,Standard,No,32.48
9,5010,Movie,Thriller,Kannada,2017,107,7.0,U,Canada,2022-05-02,54.07,80.0,8.24,Mobile,No,4.94

In [11]:
#3. Display the last 5 records of the dataset.
df.tail(5)

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
601,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08
604,5434,Movie,Romance,Telugu,2013,162,9.3,U/A,UK,2023-09-30,46.04,33.0,5.50,Basic,Yes,23.48
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18

In [13]:
#4. Check the total number of rows and columns.
df.shape[0]
df.shape[1]

16

In [15]:
#5. Display all column names with their data types.
df.dtypes

content_id              int64
content_type           object
genre                  object
language               object
release_year            int64
duration_minutes        int64
imdb_rating           float64
age_rating             object
country                object
added_date             object
views_millions        float64
avg_watch_time_min    float64
likes_millions        float64
subscription_plan      object
is_trending            object
revenue_millions      float64
dtype: object

In [17]:
#6.Generate summary statistics for numerical columns.
df.describe()

,content_id,release_year,duration_minutes,imdb_rating,views_millions,avg_watch_time_min,likes_millions,revenue_millions
count,606.000000,606.000000,606.000000,566.000000,606.000000,570.000000,606.000000,606.000000
mean,5301.823432,2014.714521,119.330033,6.916961,61.660677,86.482456,7.474241,25.315792
std,173.127136,5.712624,34.121949,1.447780,33.650763,41.767713,4.332711,13.654265
min,5001.000000,2005.000000,60.000000,4.500000,0.150000,20.000000,0.010000,0.140000
25%,5152.250000,2010.000000,91.250000,5.600000,32.880000,48.250000,3.910000,13.952500
50%,5303.500000,2015.000000,120.000000,6.900000,61.415000,85.000000,7.430000,25.350000
75%,5451.750000,2020.000000,147.000000,8.100000,91.452500,124.750000,11.290000,37.097500
max,5600.000000,2024.000000,179.000000,9.500000,119.880000,159.000000,15.000000,49.810000

In [19]:
#7. Identify columns containing missing values.
df.isna().sum().sum()

76

In [21]:
#8. Count missing values in each column.
df.isna().sum()

content_id             0
content_type           0
genre                  0
language               0
release_year           0
duration_minutes       0
imdb_rating           40
age_rating             0
country                0
added_date             0
views_millions         0
avg_watch_time_min    36
likes_millions         0
subscription_plan      0
is_trending            0
revenue_millions       0
dtype: int64

In [23]:
#9. Calculate the percentage of missing values in imdb_rating.
df['imdb_rating'].isna().mean()*100

6.6006600660066

In [25]:
#10. Fill missing imdb_rating values using the mean.
df['imdb_rating'].isna().sum()

40

In [27]:
#11. Fill missing avg_watch_time_min values using the median.
df['avg_watch_time_min'].median()

85.0

In [29]:
#12. Verify that missing values are handled.
df.isna().sum()

content_id             0
content_type           0
genre                  0
language               0
release_year           0
duration_minutes       0
imdb_rating           40
age_rating             0
country                0
added_date             0
views_millions         0
avg_watch_time_min    36
likes_millions         0
subscription_plan      0
is_trending            0
revenue_millions       0
dtype: int64

In [31]:
#13. Check if duplicate records exist.
df[df.duplicated()]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
600,5482,TV Show,Thriller,English,2009,60,5.6,U,India,2021-03-15,113.20,128.0,13.96,Standard,No,20.35
601,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08
604,5434,Movie,Romance,Telugu,2013,162,9.3,U/A,UK,2023-09-30,46.04,33.0,5.50,Basic,Yes,23.48
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18

In [33]:
#14. Count total duplicate rows.
(df.duplicated().sum())

6

In [35]:
#15. Display duplicate records.
df[df.duplicated(keep=False)]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
338,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08
348,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
433,5434,Movie,Romance,Telugu,2013,162,9.3,U/A,UK,2023-09-30,46.04,33.0,5.50,Basic,Yes,23.48
481,5482,TV Show,Thriller,English,2009,60,5.6,U,India,2021-03-15,113.20,128.0,13.96,Standard,No,20.35
490,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18
509,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79
600,5482,TV Show,Thriller,English,2009,60,5.6,U,India,2021-03-15,113.20,128.0,13.96,Standard,No,20.35
601,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08
604,5434,Movie,Romance,Telugu,2013,162,9.3,U/A,UK,2023-09-30,46.04,33.0,5.50,Basic,Yes,23.48
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18

In [37]:
#16. Remove duplicate rows permanently.
df.drop_duplicates()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,5596,TV Show,Action,Tamil,2024,81,8.1,U/A,UK,2023-06-24,90.33,155.0,0.73,Premium,Yes,23.98
596,5597,Movie,Sci-Fi,Hindi,2017,87,6.4,U,Canada,2023-03-17,61.81,59.0,11.29,Standard,No,47.16
597,5598,Movie,Thriller,Telugu,2021,174,NaN,A,Canada,2024-02-28,24.43,41.0,13.16,Standard,No,19.62
598,5599,Movie,Drama,Malayalam,2008,104,5.3,A,UK,2023-11-28,47.41,81.0,5.88,Mobile,No,36.17
599,5600,Movie,Comedy,English,2024,100,4.5,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49

In [39]:
#17. Verify the dataset shape after removing duplicates.
df.shape

(606, 16)

In [41]:
#18. Find the number of unique values in content_type.
df['content_type'].nunique()

2

In [43]:
#19. Find the number of unique values in genre.
df['genre'].nunique()

7

In [45]:
#20. Display all unique languages.
df['language'].unique()

array(['Tamil', 'Malayalam', 'Telugu', 'Hindi', 'Kannada', 'English'],
      dtype=object)

In [47]:
#21. Count content by genre.
df['genre'].value_counts()

genre
Documentary    100
Drama          100
Sci-Fi          95
Action          90
Romance         75
Thriller        74
Comedy          72
Name: count, dtype: int64

In [49]:
#22. Count content by language.
df['genre'].value_counts()

genre
Documentary    100
Drama          100
Sci-Fi          95
Action          90
Romance         75
Thriller        74
Comedy          72
Name: count, dtype: int64

In [51]:
#23. Filter content with imdb_rating greater than 8.
df[df['imdb_rating']>8]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
10,5011,TV Show,Drama,Malayalam,2014,154,9.1,U/A,Australia,2022-12-21,69.92,100.0,10.39,Basic,No,40.35
11,5012,TV Show,Drama,English,2014,60,8.9,U,Australia,2022-10-17,18.52,125.0,14.99,Premium,Yes,45.34
12,5013,Movie,Sci-Fi,Malayalam,2011,70,9.2,U/A,Australia,2023-09-09,106.86,157.0,7.51,Standard,No,6.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,5590,TV Show,Drama,Malayalam,2012,166,8.3,U/A,USA,2023-07-21,85.92,117.0,1.64,Standard,No,8.20
592,5593,Movie,Documentary,Tamil,2009,143,8.9,U,USA,2023-10-16,37.18,144.0,4.34,Standard,Yes,20.72
594,5595,TV Show,Sci-Fi,Telugu,2017,170,8.4,A,Australia,2021-07-29,1.85,24.0,1.22,Premium,No,15.48
595,5596,TV Show,Action,Tamil,2024,81,8.1,U/A,UK,2023-06-24,90.33,155.0,0.73,Premium,Yes,23.98
604,5434,Movie,Romance,Telugu,2013,162,9.3,U/A,UK,2023-09-30,46.04,33.0,5.50,Basic,Yes,23.48

In [53]:
#24. Filter content with views_millions greater than 50
df[df['views_millions']>50]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
5,5006,Movie,Drama,Hindi,2010,104,6.2,A,Australia,2022-12-27,96.06,51.0,6.42,Basic,No,0.84
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,5600,Movie,Comedy,English,2024,100,4.5,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49
600,5482,TV Show,Thriller,English,2009,60,5.6,U,India,2021-03-15,113.20,128.0,13.96,Standard,No,20.35
601,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08

In [55]:
#25. Filter content released after 2018.
df[df['release_year']>2018]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
7,5008,Movie,Sci-Fi,Telugu,2020,65,5.9,A,Canada,2023-02-24,90.44,68.0,8.43,Premium,No,45.42
13,5014,Movie,Sci-Fi,Kannada,2020,146,9.3,A,India,2023-05-30,79.39,113.0,14.34,Premium,No,26.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,5591,Movie,Action,Tamil,2019,108,8.0,U/A,UK,2024-02-22,14.90,101.0,7.97,Mobile,No,13.46
595,5596,TV Show,Action,Tamil,2024,81,8.1,U/A,UK,2023-06-24,90.33,155.0,0.73,Premium,Yes,23.98
597,5598,Movie,Thriller,Telugu,2021,174,NaN,A,Canada,2024-02-28,24.43,41.0,13.16,Standard,No,19.62
599,5600,Movie,Comedy,English,2024,100,4.5,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18

In [57]:
#26. Filter content belonging to Action or Thriller genre.
df[df['genre'].isin(['Action','Thriller'])]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
9,5010,Movie,Thriller,Kannada,2017,107,7.0,U,Canada,2022-05-02,54.07,80.0,8.24,Mobile,No,4.94
15,5016,TV Show,Action,Telugu,2016,90,8.4,U/A,USA,2021-06-06,60.29,NaN,13.41,Standard,No,21.69
16,5017,Movie,Action,Kannada,2015,178,9.0,U,USA,2021-07-27,93.79,100.0,10.88,Mobile,No,32.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,5598,Movie,Thriller,Telugu,2021,174,NaN,A,Canada,2024-02-28,24.43,41.0,13.16,Standard,No,19.62
600,5482,TV Show,Thriller,English,2009,60,5.6,U,India,2021-03-15,113.20,128.0,13.96,Standard,No,20.35
601,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08

In [59]:
#27. Filter content available in Hindi or English.
df[df['language'].isin(['Hindi','English'])]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
5,5006,Movie,Drama,Hindi,2010,104,6.2,A,Australia,2022-12-27,96.06,51.0,6.42,Basic,No,0.84
8,5009,Movie,Comedy,English,2005,65,6.8,U,USA,2023-07-22,105.41,67.0,1.97,Standard,No,32.48
11,5012,TV Show,Drama,English,2014,60,8.9,U,Australia,2022-10-17,18.52,125.0,14.99,Premium,Yes,45.34
19,5020,Movie,Drama,English,2017,118,7.4,U,USA,2022-05-10,61.69,NaN,4.45,Standard,Yes,19.78
20,5021,TV Show,Action,English,2015,67,5.5,U,Canada,2022-02-23,96.68,66.0,1.43,Standard,No,30.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,5592,Movie,Sci-Fi,English,2005,140,NaN,U/A,India,2022-08-11,62.32,126.0,2.26,Mobile,No,22.00
596,5597,Movie,Sci-Fi,Hindi,2017,87,6.4,U,Canada,2023-03-17,61.81,59.0,11.29,Standard,No,47.16
599,5600,Movie,Comedy,English,2024,100,4.5,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49
600,5482,TV Show,Thriller,English,2009,60,5.6,U,India,2021-03-15,113.20,128.0,13.96,Standard,No,20.35
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18

In [61]:
#28. Filter content with duration between 90 and 150 minutes.
df[df['duration_minutes'].between(90,150)]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
5,5006,Movie,Drama,Hindi,2010,104,6.2,A,Australia,2022-12-27,96.06,51.0,6.42,Basic,No,0.84
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
9,5010,Movie,Thriller,Kannada,2017,107,7.0,U,Canada,2022-05-02,54.07,80.0,8.24,Mobile,No,4.94
13,5014,Movie,Sci-Fi,Kannada,2020,146,9.3,A,India,2023-05-30,79.39,113.0,14.34,Premium,No,26.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,5599,Movie,Drama,Malayalam,2008,104,5.3,A,UK,2023-11-28,47.41,81.0,5.88,Mobile,No,36.17
599,5600,Movie,Comedy,English,2024,100,4.5,U/A,Canada,2022-03-26,70.64,90.0,8.03,Basic,No,41.49
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18

In [153]:
#29. Create a new column popularity_score as views_millions + likes_millions.
df["popularity_score"] = df["views_millions"] + df["likes_millions"]
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,is_trending,revenue_millions,year,month,MonthName,DayName,Quarter,subscription_plan_code,rating_category,popularity_score
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,...,No,9.82,2022,8,August,Sunday,3,NaN,Low,87.24
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,...,No,36.70,2023,3,March,Thursday,1,NaN,Medium,6.15
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,...,No,3.92,2023,10,October,Thursday,4,M,High,22.39
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,...,No,6.68,2023,9,September,Monday,3,NaN,Low,89.28
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,...,No,30.00,2024,1,January,Friday,1,NaN,High,57.60

In [149]:
#30. Create a new column rating_category using apply().
def example(x):
    if x>8:
        return"High"
    elif x>=5:
        return"Medium"
    else:
        return"Low"
df['rating_category']=df['imdb_rating'].apply(example)
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,subscription_plan,is_trending,revenue_millions,year,month,MonthName,DayName,Quarter,subscription_plan_code,rating_category
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,...,Basic,No,9.82,2022,8,August,Sunday,3,NaN,Low
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,...,Standard,No,36.70,2023,3,March,Thursday,1,NaN,Medium
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,...,Mobile,No,3.92,2023,10,October,Thursday,4,M,High
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,...,Basic,No,6.68,2023,9,September,Monday,3,NaN,Low
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,...,Basic,No,30.00,2024,1,January,Friday,1,NaN,High

In [147]:
#31. Map subscription_plan to short codes.
code={"basic":"B","standard":"S","Mobile":"M","Premium":"P"}
df["subscription_plan_code"]=df["subscription_plan"].map(code)
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,likes_millions,subscription_plan,is_trending,revenue_millions,year,month,MonthName,DayName,Quarter,subscription_plan_code
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,...,0.01,Basic,No,9.82,2022,8,August,Sunday,3,NaN
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,...,5.52,Standard,No,36.70,2023,3,March,Thursday,1,NaN
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,...,8.61,Mobile,No,3.92,2023,10,October,Thursday,4,M
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,...,2.79,Basic,No,6.68,2023,9,September,Monday,3,NaN
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,...,4.13,Basic,No,30.00,2024,1,January,Friday,1,NaN

In [155]:
#32. Map is_trending values to numerical format.
df["is_trending_num"] = df["is_trending"].map({"Yes": 1, "No": 0})
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,revenue_millions,year,month,MonthName,DayName,Quarter,subscription_plan_code,rating_category,popularity_score,is_trending_num
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,...,9.82,2022,8,August,Sunday,3,NaN,Low,87.24,0
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,...,36.70,2023,3,March,Thursday,1,NaN,Medium,6.15,0
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,...,3.92,2023,10,October,Thursday,4,M,High,22.39,0
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,...,6.68,2023,9,September,Monday,3,NaN,Low,89.28,0
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,...,30.00,2024,1,January,Friday,1,NaN,High,57.60,0

In [71]:
#33. Count content by subscription_plan.
df['subscription_plan'].value_counts()

subscription_plan
Basic       181
Mobile      145
Standard    142
Premium     138
Name: count, dtype: int64

In [77]:
#34. Identify top 5 contents based on popularity_score.
#df.sort_values('popularity_score',ascending=False)
#df.head(5)

In [139]:
#35. Group the data by content_type and count total content.
df.groupby('content_type').size()

content_type
Movie      371
TV Show    235
dtype: int64

In [81]:
#36. Group the data by genre and calculate average imdb_rating.
df.groupby('genre')['imdb_rating'].mean()

genre
Action         6.998780
Comedy         6.967164
Documentary    6.674737
Drama          7.084783
Romance        6.822857
Sci-Fi         7.201111
Thriller       6.610000
Name: imdb_rating, dtype: float64

In [83]:
#37. Group the data by language and calculate average views_millions.
df.groupby('language')['views_millions'].mean()

language
English      64.233143
Hindi        63.005385
Kannada      61.063214
Malayalam    59.520741
Tamil        63.118468
Telugu       58.570532
Name: views_millions, dtype: float64

In [85]:
#38. Group the data by subscription_plan and calculate average revenue.
df.groupby('subscription_plan')['revenue_millions'].mean()

subscription_plan
Basic       25.343370
Mobile      25.812690
Premium     24.409275
Standard    25.654225
Name: revenue_millions, dtype: float64

In [137]:
#39. Group the data by country and count content.
df.groupby('country').size()

country
Australia    137
Canada       120
India        122
UK           126
USA          101
dtype: int64

In [89]:
#40. Group the data by genre and calculate total revenue.
df.groupby('genre')['revenue_millions'].mean()

genre
Action         24.580556
Comedy         26.789444
Documentary    23.796800
Drama          25.032100
Romance        26.459200
Sci-Fi         26.303263
Thriller       24.785676
Name: revenue_millions, dtype: float64

In [91]:
#41. Group the data by content_type and calculate average duration.
df.groupby('content_type')['duration_minutes'].mean()

content_type
Movie      119.140162
TV Show    119.629787
Name: duration_minutes, dtype: float64

In [93]:
#42. Group the data by is_trending and calculate average views.
df.groupby('is_trending')['views_millions'].mean()

is_trending
No     63.20151
Yes    58.57901
Name: views_millions, dtype: float64

In [95]:
#43. Filter grouped genres having average imdb_rating greater than 7.5.
genres=df.groupby("genre")["imdb_rating"].count()
genres[genres>7.5]

genre
Action         82
Comedy         67
Documentary    95
Drama          92
Romance        70
Sci-Fi         90
Thriller       70
Name: imdb_rating, dtype: int64

In [135]:
#44. Filter grouped languages having more than 50 contents.
content=df['language'].value_counts()
content[content>50]

language
Tamil        111
Malayalam    108
English      105
Hindi        104
Telugu        94
Kannada       84
Name: count, dtype: int64

In [99]:
#45. Perform multiple aggregations on genre for views, likes, and revenue.
cal=df.groupby('genre').agg(
    views=('views_millions','sum'),
    likes=('likes_millions','mean'),
    revenue=('revenue_millions','sum'))
cal.head()

               views     likes  revenue
genre
Action       5732.63  7.255556  2212.25
Comedy       3919.95  7.429167  1928.84
Documentary  6280.93  7.500500  2379.68
Drama        6088.93  7.368200  2503.21
Romance      4832.73  7.756933  1984.44

In [101]:
#46. Perform named aggregations on content_type.
df.groupby("content_type")["content_id"].agg("count")

content_type
Movie      371
TV Show    235
Name: content_id, dtype: int64

In [103]:
#47. Perform named aggregations on country.
df.groupby("country")["content_id"].agg("count")

country
Australia    137
Canada       120
India        122
UK           126
USA          101
Name: content_id, dtype: int64

In [105]:
df["added_date"] = pd.to_datetime(df["added_date"])

In [107]:
#48. Extract year from added_date.
df["year"] =df["added_date"].dt.year
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,year
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82,2022
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70,2023
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92,2023
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68,2023
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00,2024

In [109]:
#49. Extract month from added_date.
df["month"] = df["added_date"].dt.month
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,year,month
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82,2022,8
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70,2023,3
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92,2023,10
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68,2023,9
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00,2024,1

In [111]:
#50. Extract month name from added_date
df["MonthName"] = df["added_date"].dt.month_name()
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,year,month,MonthName
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82,2022,8,August
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70,2023,3,March
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92,2023,10,October
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68,2023,9,September
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00,2024,1,January

In [113]:
#51. Extract day name from added_date
df["DayName"] = df["added_date"].dt.day_name()
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,year,month,MonthName,DayName
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82,2022,8,August,Sunday
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70,2023,3,March,Thursday
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92,2023,10,October,Thursday
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68,2023,9,September,Monday
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00,2024,1,January,Friday

In [115]:
#52. Extract quarter from added_date.
df["Quarter"] = df["added_date"].dt.quarter
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions,year,month,MonthName,DayName,Quarter
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,...,50.0,0.01,Basic,No,9.82,2022,8,August,Sunday,3
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,...,127.0,5.52,Standard,No,36.70,2023,3,March,Thursday,1
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,...,74.0,8.61,Mobile,No,3.92,2023,10,October,Thursday,4
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,...,132.0,2.79,Basic,No,6.68,2023,9,September,Monday,3
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,...,103.0,4.13,Basic,No,30.00,2024,1,January,Friday,1

In [117]:
#53. Group data by year and count content added.
year_day_count = df.groupby(["year", "DayName"]).size()
(year_day_count)

year  DayName
2021  Friday       27
      Monday       25
      Saturday     23
      Sunday       27
      Thursday     32
      Tuesday      36
      Wednesday    23
2022  Friday       28
      Monday       24
      Saturday     20
      Sunday       35
      Thursday     20
      Tuesday      20
      Wednesday    22
2023  Friday       32
      Monday       19
      Saturday     41
      Sunday       17
      Thursday     33
      Tuesday      19
      Wednesday    25
2024  Friday        8
      Monday        9
      Saturday      7
      Sunday        9
      Thursday      9
      Tuesday       9
      Wednesday     7
dtype: int64

In [133]:
#54. Group data by month name and calculate average views.
month = df.groupby("MonthName")["views_millions"].mean()
(month)

MonthName
April        53.650517
August       59.686579
December     61.954167
February     65.564400
January      57.761587
July         62.110984
June         59.436744
March        62.342143
May          66.879149
November     63.210488
October      62.048723
September    68.395250
Name: views_millions, dtype: float64

In [121]:
#55. Group data by quarter and calculate average revenue.
df.groupby('Quarter')['revenue_millions'].mean()

Quarter
1    25.357541
2    25.256419
3    25.310576
4    25.329559
Name: revenue_millions, dtype: float64

In [123]:
#56. Group data by day name and count content added.
df.groupby("DayName").size()

DayName
Friday       95
Monday       77
Saturday     91
Sunday       88
Thursday     94
Tuesday      84
Wednesday    77
dtype: int64

In [125]:
#57. Identify the month with highest content additions.
df["month"] = df["added_date"].dt.month
df["month"].value_counts().head(1)

month
3    70
Name: count, dtype: int64

In [127]:
#58. Identify the quarter with highest average imdb_rating.

In [129]:
#59. Group by year and genre and calculate average imdb_rating.
df.groupby(['release_year','genre']).size()

release_year  genre
2005          Action          5
              Comedy          6
              Documentary     2
              Drama          10
              Romance         3
                             ..
2024          Documentary    10
              Drama           5
              Romance         2
              Sci-Fi          5
              Thriller        5
Length: 137, dtype: int64

In [131]:
#60. Group by language and year and calculate content count.
df.groupby(['language','release_year']).size()

language  release_year
English   2005            12
          2006             2
          2007             6
          2008             5
          2009             3
                          ..
Telugu    2020             2
          2021             4
          2022             4
          2023             5
          2024             5
Length: 120, dtype: int64

In [268]:
#61. Group by country and subscription_plan and calculate average revenue.
df.groupby(['country','subscription_plan'])['revenue_millions'].mean()

country    subscription_plan
Australia  Basic                26.292500
           Mobile               23.060645
           Premium              23.974815
           Standard             24.700571
Canada     Basic                25.299189
           Mobile               25.695667
           Premium              28.850370
           Standard             31.489231
India      Basic                26.711714
           Mobile               30.790769
           Premium              25.912692
           Standard             26.222000
UK         Basic                23.186000
           Mobile               24.560645
           Premium              23.984286
           Standard             23.149000
USA        Basic                25.274400
           Mobile               25.746296
           Premium              18.653043
           Standard             22.265769
Name: revenue_millions, dtype: float64

In [266]:
#62. Filter grouped years with more than 100 contents.
content=df['release_year'].value_counts()
content[content>100]

release_year
1970    606
Name: count, dtype: int64

In [262]:
#63. Filter grouped genres with average revenue above 20 million.
df[df['revenue_millions']>20].groupby('genre')['revenue_millions'].mean()

genre
Action         33.238571
Comedy         33.834902
Documentary    34.100179
Drama          34.368621
Romance        34.299184
Sci-Fi         35.940000
Thriller       33.442917
Name: revenue_millions, dtype: float64