# DATA ANALYTICS TEST 1

- INTRODUCTION TO DATA ANALYTICS 
- VARIABLES & OPERATORS
- CONTROL STRUCTURE
   - CONDITIONAL STATEMENTS
   - LOOPS

### Q1. Input 3 side lengths. Check if the triangle is:

- Equilateral (all sides equal)

- Isosceles (two sides equal)

- Scalene (all sides different)

In [43]:
a = int(input("Enter side 1: "))
b = int(input("Enter side 2: "))
c = int(input("Enter side 3: "))
if a == b == c:
    print("Equilateral")
elif a == b or b == c or a == c:
    print("Isosceles")
else:
    print("Scalene")

Enter side 1:  2
Enter side 2:  3
Enter side 3:  4

Scalene

### Q2. Write a python program to check blood donation eligibility. Ask for age and weight. Eligible if age ≥ 18 and weight ≥ 50 kg.

In [3]:
a = int(input("Enter a age:"))
w = int(input("Enter a weight:"))
if a > 18 and w > 50:
    print("patient is eligible for blood donate")
else:
     print("patient is  not eligible for blood donate")

Enter a age: 18
Enter a weight: 60

patient is  not eligible for blood donate

### Q3. Input a 3-digit number. Find the sum of its digits. (e.g: 432 = 4 + 3 + 2)

In [11]:
a = int(input("Enter a 3 digit number:"))
sum_digits = 0
for d in str(a):
    sum_digits += int(d)
print(sum_digits)

Enter a 3 digit number: 432

9

### Q4. Write a python Program to calculate average of four numbers. Ask for four numbers. Calculate and print their average.

In [15]:
a1 = int(input("Enter a first number:"))
a2 = int(input("Enter a second number:"))
a3 = int(input("Enter a thrid number:"))
a4 = int(input("Enter a forth number:"))
avg = ( a1 + a2 + a3 + a4) /4
print("average is:",avg)

Enter a first number: 2
Enter a second number: 3
Enter a thrid number: 6
Enter a forth number: 7

average is: 4.5

### Q5. Write a program to convert Celsius temperature  to Kelvin temperature. Input Celsius. Convert to Kelvin using: K = C + 273.15

In [19]:
c = float(input("Enter temperature in Celsius: "))
k = c + 273.15
print("Temperature in Kelvin =", k)

Enter temperature in Celsius:  45

Temperature in Kelvin = 318.15

### Q6. Input a 4-digit number. If sum of first two digits equals sum of last two, print "Lucky Number".

Q7. What is Data Analysis? Mention the types of Data Aanalysis along with their description.

Q8. Ask for a 2-digit number like 47. Reverse it using integer math and print 74.

### Q9. Ask for a number. Print "In range" if it is between 50 and 100 (inclusive), else "Out of range".

In [23]:
num = int(input("Enter a number: "))
if 50 <= num <= 100:
    print("In range")
else:
    print("Out of range")

Enter a number:  56

In range

### Q10. Write a program to Print Multiples of 7 Between 1–100

In [25]:
for i in range(1, 101):
    if i % 7 == 0:
        print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

### Q11. Write a program to calculate speed. Input distance (km) and time (hours). Calculate and print speed.

- Formula : speed = distance ÷ time.

In [27]:
d = int(input("Enter distance (km): "))
t = int(input("Enter time (hours): "))

s = distance / time
print("km/h and time  =", s)

Enter distance (km):  23
Enter time (hours):  45

km/h and time  = 0.5111111111111111

### Q12. What is type conversion? Explain the two types of type conversion

In [ ]:
"""
Type conversion is refers to change in the data type of a variable python  support two type conversion.

1] Implicit type conversion:
                            this type conversion is done by python during runtime. It does it in order to avoid data loss.
2] explicit type conversion:
                           this type of the conversion us done by the user as required using the built in data type functions as int(), float(), 
                           str(),list(),tuple(),set(). this type of conversion id also called type casting.

### Q13. Explain Membership operators with example

In [ ]:
"""Membership Operators
Used to test whether a value or variable is found in a sequence (string, list, tuple, set, and dictionary).
in: True if value/variable is found in the sequence.
not in: True if value/variable is not found in the sequence.
These operators are fundamental to performing operations, making decisions, and controlling the flow of execution in Python scripts."""
"""
example:
n = int(input("Enter a number: "))
if n in [10, 20, 30, 40]:
    print("Number is in the list")
else:
     print("Number is not in the list")

### Q14. Find Largest Digit in a Number
Input a number like 4782. Print the largest digit.

### Q15. Tip Calculator
Input total bill and tip percentage. Print tip amount and total amount.

In [41]:
bill = float(input("Enter total bill: "))
tip_per = float(input("Enter tip percentage: "))
tip = bill * tip_per / 100
total = bill + tip
print("Tip amount =", tip)
print("Total amount =", total)

Enter total bill:  450
Enter tip percentage:  23

Tip amount = 103.5
Total amount = 553.5